#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	width: 100%;
	padding: 1rem;
	align-items: center;
	justify-content: center;
}

.read-the-docs {
	color: #888;
}

.btnSubmit {
	background-color: blue;
	color: white;
}

.btnSubmit:hover {
	background-color: blueviolet;
	-webkit-transition: background 0.5s 0s ease-in-out;
	-moz-transition: background 0.5s 0s ease-in-out;
	-o-transition: background 0.5s 0s ease-in-out;
	transition: background 0.5s 0s ease-in-out;
}

.listContainer {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 1rem;
	align-items: center;
}
